* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Gowun Dodum', sans-serif;
  background-color: #fffcf3;
  color: #2e2929;
}

/* header */
.site-header {
  background-color: #ffebeb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 60px;
}

.logo-area {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-circle {
  width: 50px;
  height: 50px;
  background-color: #ff9b9b;
  border-radius: 50%;
}

.logo-area h1 {
  font-family: 'Cookie', cursive;
  color: #ff7b87;
  font-size: 40px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 40px;
}

.navbar a {
  text-decoration: none;
  color: hsl(0, 100%, 75%);
  font-size: 18px;
}

/* form section, so the mailing list (that doesn't work, but ehh...) */
.form-section {
  background-color: #ffa1ad;
  padding: 20px;
  text-align: center;
}

.mail-form {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.mail-form input, .mail-form button {
  padding: 8px 12px;
  border: 1px solid #ff9292;
}

.mail-form button {
  background-color: #fffdf2;
}


/* link stuff */
a:link {
  text-decoration: none;
  color:#ff7b87
}

a:visited {
  text-decoration: none;
  color:#ff7b87
}

a:hover {
  text-decoration: none;
  color:#ff7b87
}

a:active {
   text-decoration: none;
   color:#ff7b87
}

/* recipe section stuff */
.recipe-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 40px 0;
}

#landing-recipes-header {
  text-align: center;
  color: #ff7b87;
  padding-top: 20px;
}

.recipe-card {
  width: 150px;
  height: 150px;
  background-color: #ffc7c7;
}

.recipe-card h4 {
  text-align: center;
  font-size: 16px;
}

.recipe-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

/* info section */
.info-section {
  background-color: #d3eebb;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 40px;
  gap: 30px;
}

.info-image {
  width: 250px;
  height: 250px;
  background-color: #fcfcfc;
}

.info-text {
  width: 400px;
}

.info-section img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

/* container for the basic recipe directory page stuff (so "default" look for any kind of recipe category) */
.recipe-directory-container {
  max-width: 1200px;
  margin: 120px auto;   /* space for navbar + center */
  text-align: center;
}

/* page title */
.directory-title {
  font-size: 28px;
  color: #ff8c8c;
  margin-bottom: 40px;
}

/* grid of the recipe cards */
.recipe-directory-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 60px;  /* gaps for the rows and the columns for nicer spacing? */
  justify-items: center;
}

/* each recipe card */
.recipe-directory-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* image boxes */
.recipe-directory-card img {
  width: 220px;
  height: 260px;
  background: #d3eebb;
  border: 2px solid #969998;
  object-fit: cover;
}

/* text under each box for the recipe cards */
.recipe-directory-card span {
  margin-top: 10px;
  font-size: 18px;
  color: #2e2929;
}



@media (max-width: 900px) {
  /* the header and the nav bar should stack when it gets too small */
  .site-header {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 10px;
  }

  .navbar ul {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }

  /* the mailing list sign up should also stack vertically  */
  .mail-form {
    flex-direction: column;
    align-items: center;
  }

  .mail-form input,
  .mail-form button {
    width: 80%;
  }

  /* once there's not enough room, the grid gets fewer columns? */
  .recipe-grid {
    flex-wrap: wrap;
  }

  .recipe-card {
    width: 40%;
    height: 150px;
  }

  /* the image and text for the info also gets stacked vertically */
  .info-section {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .info-text {
    width: 90%;
  }

  .api-section {
    text-align: center;
    flex-direction: column;
    align-items: center;
  }
}

/* DIARY PAGE STUFF */

.main-diary-content {
text-align: center;
padding: 50px 20px;
max-width: 800px;
margin: 0 auto;
}


.main-diary-content h2 {
font-size: 28px;
margin-bottom: 10px;
text-align: center;
color: #ff8c8c;
}


.main-diary-content p.description {
font-size: 16px;
max-width: 650px;
margin: 0 auto 40px;
line-height: 1.6;
text-align: center;
}


.stars {
font-size: 22px;
margin: 40px 0 20px;
text-align: center;
}


ul.diary-list {
text-align: center;
margin: 0 auto;
max-width: 600px;
line-height: 1.8;
list-style-type: none;
}


/* Things to Share Section */
.share-section {
background-color: #cae6e3;
padding: 60px 20px;
text-align: center;
margin-top: 60px;
}


.share-section h3 {
font-size: 22px;
margin-bottom: 40px;
}

.weeklyshare-caption {
margin-top: 10px;
font-size: 14px;
color: #444;
}

@media (max-width: 600px) {
  /* font sizes get smaller when the room for the site's display also gets smaller */
  body {
    font-size: 14px;
  }

  .logo-area h1 {
    font-size: 32px;
  }

.recipe-card h4 {
  font-size: 17px;
  }
  .navbar a {
    font-size: 16px;
  }

  .recipe-card {
    width: 80%;
  }

  .info-image {
    width: 200px;
    height: 200px;
  }
}
